body {
	padding: 20;
	margin: 20;
	font-family: 'Roboto', sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	text-decoration: none;
	background-color: rgb(142, 0, 11);
	color: white;
	padding: 14px 20px;
	margin: 8px 0px;
	border: none;
	cursor: pointer;
	width: 25%;
}
a:hover {
	opacity: 0.8;
}

a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

nav.navbar {
	margin-bottom: 0;
	background-color: #FFF;
	border: none;
	height: 55px;
	padding-top: 5px;
}

a.navbar-brand {
	font-family: 'Noto Serif', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 16px;
}

.navbar-default .navbar-brand {
	color: #001c44;
}

.navbar-default .navbar-brand span {
	color: #c41228;
}

input {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: rgb(36, 0, 155);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}

button:hover {
	opacity: 0.8;
}

.container {
	padding: 16px;
	background-color:#f1f1f1;
}

span.psw {
	float: right;
	padding-top: 16px;
}

#login-btn {
	width:auto;
}

#signup-btn {
	width:auto;
}

.form-staff-div {
	visibility : hidden;
}
