<?xml version="1.0" ?>
<web-app>
	<display-name>ClothingStore</display-name>
	<description>ClothingStore</description>
	<servlet>
		<servlet-name>All Shirts</servlet-name>
		<servlet-class>AllClothesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>All Shirts</servlet-name>
		<url-pattern>/clothes</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>All Users</servlet-name>
		<servlet-class>AllUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>All Users</servlet-name>
		<url-pattern>/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>All Staff</servlet-name>
		<servlet-class>AllStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>All Staff</servlet-name>
		<url-pattern>/staff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add User</servlet-name>
		<servlet-class>addUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add User</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add Staff</servlet-name>
		<servlet-class>addStaffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Staff</servlet-name>
		<url-pattern>/addstaff</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Add Clothe</servlet-name>
		<servlet-class>addClotheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add Clothe</servlet-name>
		<url-pattern>/addclothe</url-pattern>
	</servlet-mapping>
</web-app>
